*{
	margin:0;
	padding:0;
}
$primaryFont:'Muli', sans-serif;
///////////////////////////////////////////
//   Header
///////////////////////////////////////////
.video{
	width: 100%;
}

.tekstOverlay{
    position: absolute;
    top: 230px;
    left: 15%;
    font-size: 4rem;
    color: black;
    width: 70%;
    font-family: 'Monoton', cursive;
    text-align: center;
}

.timer {
   margin-top: 15px;
   color: black;
   font-family: $primaryFont;
   text-transform: uppercase;
   font-size: 3rem;
}