*{
	margin:0;
	padding:0;
}
body{
	background-color:#DCDCDC ;
}
$primaryFont:'Muli', sans-serif;
$primaryColor: #1B4F9A;
///////////////////////////////////////////
//   Header
///////////////////////////////////////////
.video{
	width:100%;
}

.tekstOverlay{
    position: absolute;
    z-index:20;
    top: 230px;
    left: 15%;
    font-size: 4rem;
    color: black;
    width: 70%;
    font-family: 'Monoton', cursive;
    text-align: center;
}

.timer {
   margin-top: 15px;
   color: black;
   font-family: $primaryFont;
   text-transform: uppercase;
   font-size: 3rem;
}
///////////////////////////////////////////
//   Tilmelding
///////////////////////////////////////////

.tilmelding{
    text-align: center;
    font-size: 1.5rem;
}
.tilmeldTitle {
    margin-top: 30px;
    font-family: $primaryFont;
    
}

.tilmeldButton{
    margin-top: 20px;
    background-color: $primaryColor;
    width: 160px;
    height: 70px;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
    color: white;
    font-family: $primaryFont;
}
///////////////////////////////////////////
//   Tilmelding Form
///////////////////////////////////////////

.formContainer{ // sort fullscreen overlay
	top:0;
	position: fixed;
	z-index:999; //sætter den til altid at være øverst på siden
	width:100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
	transition:ease .2s; // en ease effect på scaling
	transform:scale(0); // sætter dne til at starte på 0 scale - dne er ikke synlig
}
#wufoo-q1g07c60p6ncox{ //ID til formularen - lavet af Wufoo
	width:500px;
	margin:0 auto;
	margin-top: 50px;
}
///////////////////////////////////////////
//   Links
///////////////////////////////////////////
.linkBar {
    height: 200px;
    margin: 30px 20px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 100px; }
    .linkBar .linkBar__tabs {
      margin: 10% 10%;
      background-color: white;
      text-align: center;
      text-decoration: none;
    }

.billeder{
    height: 82px;  
}

.menutekst{
    font-size: 1.2rem;
    margin-top: 35px;
   font-family: $primaryFont;
   color: black;
   text-transform: uppercase;
}

///////////////////////////////////////////
//   Frivillige video
///////////////////////////////////////////
.friContainer{
	position: relative;
	margin:0 25px 25px 25px;

}
.friOverlay{
	position: absolute;
	top:50%;
	right:35%;
	padding:25px 50px;
	font-size:4rem;
	font-family: $primaryFont;
	color:white;
	background-color: rgba(0,0,0,.5);
}

///////////////////////////////////////////
//   Profiler
///////////////////////////////////////////
.Profilcontainer{
    height: 340px;
    margin: 0 20px 100px 20px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 70px 70px;
    text-align: center;
    font-family: $primaryFont; 
}

.ProfileTitle {
    margin-top: 25px;
    font-size: 2rem;
    grid-column: span 9; 
}
  
.ProfilText {
    grid-column: span 9;

}

.ProfilPicture {
    position: relative;
    z-index: 10;
    width: 100px;
    border-radius: 50%;
    transition: ease .2s;
    margin-top: 30px; 
    height: 100px;
    filter: grayscale(100%);
}
.ProfileName, .ProfileJob {
    width: 100%;
    position: absolute;
    transition: ease .2s;
    bottom: 50%; 
    opacity: 0;
}

  
  .PictureContainer {
    position: relative; }

.PictureContainer:nth-child(3) {
    grid-column: 2/2; }

///////////////////////////////////////////
//   Slider
///////////////////////////////////////////
.swiper-slide { // Style fra swiper - ikke selv lavet
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center; 
}

.swiper-container {
	height: 600px;
	width:96vw;
}

.sliderText {
	color: white;
	position: absolute;
	font-size: 3rem; 
	padding:15px 25px;
	font-family: $primaryFont;
	background-color: rgba(0,0,0,.5);
}
.slideImage{
	width:80%;
}
///////////////////////////////////////////
//   Prices
///////////////////////////////////////////
.pricesContainer {	
	text-align: center;
	background-color: white;
	margin:100px 25px 0 25px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px 70px; 
	font-family: $primaryFont;
	padding-bottom:50px;
}
.pricesContainer .pricesContainer__title {
    grid-column: 1 / span 4;
    line-height: 100px;
    font-size: 2rem;
}
.pricesContainer .pricesContainer__pulje {
    grid-column: span 2;
    font-size: 1.5rem;
}
.pricesContainer__image{
	display: block;
	margin:0 auto;
	width:250px;
}
///////////////////////////////////////////
//   Footer
///////////////////////////////////////////
footer{
	width:100%;
	height:100px;
	background-color: white;
	margin-top: 100px;
	text-align: center;
	.socials{
		position: relative;
		top:15px;
		display: inline-block;
		width:70px;
		margin:0 15px;
	}
}