body{
    background-color: aqua;
}

.Profilcontainer{
    height: 340px;
    margin: 0 20px 20px 20px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 70px 70px;
    text-align: center;
    font-family: "Century Gothic"; 
}

.ProfileTitle {
    margin-top: 25px;
    font-size: 2rem;
    grid-column: span 9; 
}
  
.ProfilText {
    grid-column: span 9;

}

.ProfilPicture {
    position: relative;
    z-index: 10;
    width: 100px;
    border-radius: 50%;
    transition: ease .2s;
    margin-top: 30px; 
    height: 100px;
}
.ProfileName, .ProfileJob {
    width: 100%;
    position: absolute;
    transition: ease .2s;
    bottom: 50%; 
    opacity: 0;
}

  
  .PictureContainer {
    position: relative; }

.PictureContainer:nth-child(3) {
    grid-column: 2/2; }