*{margin: 0; padding: 0;}

body{
    background-color: #DCDCDC;
}



.banner{
    background-color: purple; 
    height: 100vh; 
    width: 100%;
}

.overskrift {
    background-color: #1B4F9A;
    height: 70px;
    width: 100%;
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 70px;
    position: fixed;
    z-index: 999;
    font-family: "Century Gothic";
    text-transform: uppercase;
}

.tekstOverlay{
    background-color: rgba(0,0, 0, 0.3);
    position: absolute;
    top: 270px;
    left: 15%;
    font-size: 2.5rem;
    color: white;
    width: 70%;
    font-family: "Century Gothic";
    text-align: center;
}

.timer {
   margin-top: 15px;
   color: #1B4F9A;
   font-family: "Century Gothic";
   
}

.tilmelding{
    text-align: center;
    font-size: 1.5rem;
}
.tilmeldTitle {
    margin-top: 30px;
    font-family: "Century Gothic";
    
}

.tilmeldButton{
    margin-top: 20px;
    background-color: #1B4F9A;
    width: 160px;
    height: 70px;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
    color: white;
    font-family: "Century Gothic";
}

.linkBar {
    height: 200px;
    margin: 30px 20px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 100px; }
    .linkBar .linkBar__tabs {
      margin: 10% 10%;
      background-color: white;
      text-align: center;
      text-decoration: none;
    }

.billeder{
    height: 82px;  
}

.menutekst{
    font-size: 1.2rem;
    margin-top: 35px;
   font-family: "Century Gothic";
   color: black;
   text-transform: uppercase;
}


